footer{
    height:5vh;    
    // background: #006750;
    padding: 10px;
    // padding-bottom: 28px;
    text-align: center;
    // float: left;
    width: 100%;  
    // margin-top: 50px; 
    color: $green;
    a{
        color: inherit;
    }
}