@import './vars';

// form{
//     text-align: center;
//     display: none;
// }
.main-form{
    text-align: center;
    position: relative;
    &:before{
        content: '';
        @include position(absolute,0,0,0,0);
        background-size: cover;
    }
    h1{
        font-size: 1rem;
    }
    h3{
        margin: .25rem 0;
    }
    fieldset{
        border: none;
        // padding: 0 30vmin;
        label{
            text-align: center;
            display: inline-block;
            min-height: 5rem;
            width: 12%;
            // margin: .5rem 0;
            padding: .5rem;
            transition: background .3s;
            transition: width .2s;
            color: $green;
            &:hover{
                background: $mint;
    
            }
        }
        img{
            width: 3vmax;
        }
        h3{
            font-size: .8rem;
            margin: .5rem 0;
        }
    }
    input[type="radio"]:checked{
        +label{
            border: 3px solid black;
        }
    }
}
input[type=radio]{
    display: none;
}

label{
    font-family: $basefont;
}

.logo{
    width: 50vmin;
    // text-align: left;
}

.search-bar{
    
    label{
        @include position(relative,-100%,0,0,0);
        width: 100%;
        transition: top .3s ease-out, transform .3s ease-out;
    }
    input{
        width: 70%;
        float: left;
        padding: .5rem;
        position: relative;
        background: transparent;
        border-radius: 0;
        border: 3px solid $green;
        text-align: center;
    }
}

.search-container {
    padding: 0 15vmax;
    margin: 2.5rem 0 0;
}

.topic-container{
    position: relative;
    clear: both;
    margin-top: 7rem;
}

.search-words {
    width: calc(30% - 5px);
    float: left;
    margin: 0;
    padding: 0.5rem;
    border: 3px solid transparent;
    margin-left: 5px;
}

.category-options{
    display: block;
    width: 100%;
}